.double-bordered-navbar {
    border-top: double medium $primary;
    border-bottom: double medium $primary;
}

.footer {
    margin-top: 5%;
}

a.navbar-item.left {
  margin-right: 2rem;
}

.main-padding {
    padding: 3rem;
}

.custom-icon {
    width: 25px;
    height: 25px;
}

.custom-logo {
    width:"150px";
    height:"2.5 rem";
}