.double-bordered-navbar {
    border-top: double medium $primary;
    border-bottom: double medium $primary;
}

.footer {
    margin-top: 5%;
}

.navbar-item {
  margin-right: 2rem;
}

.main-padding {
    padding: 3rem;
}